.about .about-container {
  padding: 60px 0;
  max-width: 650px;
  margin: 0 auto;
  font-family: 'Abel', 'Helvetica', sans-serif;
  word-spacing: 1px;
}
.about .about-container .about-item {
  color: color-dark;
  margin: 30px 0 15px 0;
}
.about .about-container .about-item::before {
  content: '#';
  color: color-primary;
  margin-right: 10px;
}
.about .about-container .about-item-li {
  margin-bottom: 5px;
}
.about .about-container .label {
  color: color-gray;
  display: inline-block;
  margin-right: 10px;
}
.about .about-container .content {
  color: color-gray;
  text-decoration-line: underline;
}
.about .about-container a:hover span {
  color: color-primary;
}
.about .about-container p {
  line-height: 32px;
}
