.header-container {
  position: relative;
  box-sizing: border-box;
  height: 80px;
  padding: 0 15%;
  background-color: #fff;
  box-shadow: 0 1px 1px 1px #d2d2d5;
  z-index: 100;
  font-size: 20px;
  font-family: 'Abel', 'Helvetica', sans-serif;
}
.header-container .title {
  line-height: 40px;
  float: left;
  font-size: 24px;
  margin-left: 64px;
}
.logo {
  display: inline-block;
  width: 174px;
  height: 80px;
  margin-top: 25px;
  background: url("logo.png") no-repeat;
  background-size: 48px 30px;
}
.right-list {
  float: right;
  line-height: 80px;
}
.list-item {
  display: inline-block;
  margin-right: 20px;
  color: #353634;
}
.list-item a:hover {
  color: color-primary;
}
