.markdown-content,
.article-summary {
  overflow-y: auto;
  overflow-x: hidden;
  letter-spacing: 34;
}
.markdown-content figure,
.article-summary figure {
  box-sizing: border-box;
  padding: 20px !important;
}
.markdown-content pre,
.article-summary pre,
.markdown-content code,
.article-summary code {
  font-family: 'Roboto Mono', Monaco, courier, monospace;
  font-size: 13px;
  background-color: color-background;
  width: 600px;
}
@media m-mobile {
  .markdown-content pre,
  .article-summary pre,
  .markdown-content code,
  .article-summary code {
    font-size: 10px;
    width: 100%;
  }
}
.markdown-content pre .line,
.article-summary pre .line,
.markdown-content code .line,
.article-summary code .line {
  min-height: 13px;
  margin: 2px 0;
}
.markdown-content p,
.article-summary p {
  line-height: 1.8em;
  font-size: 14px;
  font-weight: 350;
  word-wrap: break-word;
  word-break: break-word;
}
.markdown-content p code,
.article-summary p code {
  background-color: color-background;
  color: color-orange;
  padding: 3px 5px;
  margin: 0 2px;
  border-radius: 2px;
  white-space: nowrap;
}
@media m-mobile {
  .markdown-content p code,
  .article-summary p code {
    font-size: 10px;
    width: 100%;
  }
}
.markdown-content h1,
.article-summary h1 {
  font-size: 1.8em;
  font-weight: 350;
}
.markdown-content h2,
.article-summary h2 {
  font-size: 1.5em;
  font-weight: 350;
  margin: 1em 0;
}
.markdown-content h3,
.article-summary h3 {
  margin: 1em 0;
  font-weight: 350;
  font-size: 1.3em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid color-border;
}
.markdown-content h4,
.article-summary h4 {
  margin: 1em 0;
  font-weight: 350;
  font-size: 1.2em;
}
.markdown-content h4:before,
.article-summary h4:before {
  content: "#";
  color: color-primary;
  margin-right: 5px;
  font-size: 1.2em;
  font-weight: 700;
}
.markdown-content h5,
.article-summary h5 {
  font-size: 1em;
  margin: 0.8em 0;
  font-weight: 350;
}
.markdown-content blockquote,
.article-summary blockquote {
  margin: 1em 0;
  padding: 15px 20px;
  border-left: 4px solid color-primary;
  background: color-background;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  font-size: 14px;
}
.markdown-content ul,
.article-summary ul,
.markdown-content ol,
.article-summary ol {
  overflow: auto;
  margin: 15px 0;
}
.markdown-content ul li,
.article-summary ul li,
.markdown-content ol li,
.article-summary ol li {
  padding: 5px 0;
}
.markdown-content img,
.article-summary img {
  max-width: 100%;
  display: block;
  margin: 20px auto;
  cursor: zoom-in;
}
.markdown-content figure,
.article-summary figure {
  background: color-background;
  padding: 0 10px;
  border-radius: 2px;
  margin: 20px 0;
  overflow: auto;
  position: relative;
}
.markdown-content figure:after,
.article-summary figure:after {
  content: attr(data-lang);
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  text-align: right;
  font-size: 0.7em;
  padding: 5px 10px 0;
  line-height: 15px;
  height: 15px;
  font-weight: 500;
}
.markdown-content > table,
.article-summary > table {
  width: 100%;
}
.markdown-content > table thead,
.article-summary > table thead {
  background-color: color-primary;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: color-border;
}
.markdown-content > table thead th,
.article-summary > table thead th {
  padding: 5px 10px;
  color: color-white;
}
.markdown-content > table tbody tr:nth-child(even),
.article-summary > table tbody tr:nth-child(even) {
  background: #e6eed6;
}
.markdown-content > table tbody tr:nth-child(odd),
.article-summary > table tbody tr:nth-child(odd) {
  background: color-white;
}
.markdown-content > table tbody tr td,
.article-summary > table tbody tr td {
  padding: 5px 10px;
}
.markdown-content hr,
.article-summary hr {
  border: none;
  border-bottom: 1px dashed color-border;
  margin: 30px 0;
}
